body{
    background-color: #0faae8;
}
input{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

div{
    justify-content: center;
    box-sizing: 500px;
    box-shadow: 5px;
    box-sizing: border-box 10px;
}